
<nav class="navbar navbar-expand-lg"><!-- ir a css para estilos-->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/futbolistas">Futbolistas</a>
        <a class="nav-link" routerLink="/buscar">Buscar</a>
      </div>
    </div>
  </div>
</nav>

<br>
<!--<detalle-futbolista *ngIf="futbolistaSeleccionado" [futbolista]="futbolistaSeleccionado"></detalle-futbolista>-->

<div class="card-body text-primary">
  <div class="card border-primary mb-3">
    <div class="card-header">Listado de Futbolistas</div>
    <app-list [futbolistas]="futbolistas"
    (inDelete)="idDeleteById($event)"
    ></app-list>
  </div>
</div>
      <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>

<!-- este selecto es el de paginator.component.ts -->

<!--*ngIf="paginador" -->

